.banner__inner {
  padding: 60px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include  media-tablet {
    padding: 50px 0 60px;
  }
}


.banner__info {
  flex-shrink: 0;
  @include media-tablet {
    max-width: 389px;
  }
}

.banner__img {
  overflow-x: hidden;
}

.banner__title {
  @include font(44px, 54px, 700);
  @extend %font-additional;
  margin-bottom: 30px;
  max-width: 460px;
  @include media-mobile {
    @include font(32px, 42px, 700);
  }
}

.banner__text {
  @include font(18px, 28px, 400);
  @extend %font-additional;
  color: $color-text;
  margin-bottom: 45px;
  max-width: 455px;
  @include media-mobile {
    @include font(15px, 24px, 400);
  }
}

.banner__btn {
  display: inline-block;
  @include font(16px, 22px, 700);
  color: $color-light;
  border-radius: 4px;
  background-color: $color-primary;
  padding: 15px 41px 14px;
  margin-right: 30px;
  @extend %transition;
  @extend %hover-additional;
}

.banner__link {
  @include font(16px, 24px, 600);
  @extend %font-additional;
  display: inline-block;
  color: $color-primary;
  padding-left: 25px;
  position: relative;
  @extend %transition;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 19px;
    background-image: url("../img/icons/play-icon.svg");
  }
  &:hover {
    color: $color-additional;
  }
}

@media (max-width: 600px) {
  .banner__inner {
    flex-direction: column-reverse;
  }
  .banner__info {
    margin-top: 16px;
    max-width: 100%;
    text-align: center;
  }
  .banner__title, .banner__text {
    max-width: 100%;
  }
  .banner__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 390px) {
.banner__link {
  margin-right: 30px;
  margin-top: 25px;
}
}
