.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.header__inner {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-tablet {
    padding-top: 20px;
    flex-wrap: wrap;
    //height: auto;
  }
}

.menu {
  @include media-tablet {
    order: 1;
    width: 100%;
  }
}

.logo {
  @include media-tablet {
    margin-left: 60px;
  }
  @media (max-width: 576px) {
    margin: 0 auto;
  }
}

.menu__list {
  display: flex;
  gap: 24px;
  @include media-tablet {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: $color-light;
    text-align: center;
    transform: translateY(-300%);
    transition: .3s all ease-out;
  }
}
  .menu__list-active {
  transform: translateY(0) !important;
  transition: .3s all ease-out;
}

.menu__list-link {
  color: $color-heading;
  @include font(14px, 28px, 400);
  @extend %font-additional;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
  @include media-tablet {
    display: block;
    padding: 10px 0;
  }
}

.user-nav {
  margin: 0 13px 0 52px;
  @media (max-width: 576px) {
    display: none;
  }
}

.user-nav__link {
  @extend %font-primary;
  color: $color-hamburger;
  @include font(16px, 22px, 600);
  padding: 11px 23px;
  border: 1px solid $color-hovered;
  border-radius: 4px;
  @extend %transition;
  &:hover {
    background-color: $color-hovered;
  }
}

.user-nav__link + .user-nav__link {
  margin-left: 14px;
  border-color: transparent;
  background-color: $color-primary;
  color: $color-light;
  &:hover {
    background-color: $color-additional;
  }
}