.strategies {
  margin-top: 30px;
  @include media-tablet {
    text-align: center;
  }
}

.strategies__descr {
  margin-top: 14px;
  @extend %text;
}

.strategies__tags {
  margin-top: 24px;
  @include media-tablet {
    justify-content: center;
  }
}

.strategy {
  max-width: 377px;
  margin-top: 30px;
  border-radius: 8px;
  @include media-tablet {
    overflow: hidden;
  }
  @media (max-width: 767px) {
    margin: 30px auto 0;
  }

}

.strategy__title {
  @include font(24px, 34px, 700);
  color: $color-heading;
  padding: 24px 34px 29px 33px;
  @extend %transition;
  cursor: pointer;
  @media (max-width: 768px) {
    padding: 26px 29px 20px 28px;
  }
  &:hover {
    color: $color-primary;
  }
}

.strategy__tags {
  padding: 0 0 26px 33px;
  @include media-tablet {
    padding: 0 0 26px 0;
  }
}

.strategy__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 34px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
  }
  @media (max-width: 767px) {
    display: block;
  }
}


.strategy-wide {
  max-width: 787px;
  @include media-tablet {
    grid-area: 2 / 1 / 3 / 2;
  }
  @media (max-width: 1000px) {
    max-width: 377px;
  }
  grid-area: 2 / 1 / 3 / 3;
}

.strategy__hidden {
  display: none;
}

@media (max-width: 1170px) {
  .strategy__wrapper {
    justify-content: space-around;

  }
}

@media (max-width: 500px) {
  .strategy__title {
    font-size: 21px;
  }
}