.strategies {
  margin-top: 30px;
  @include media-tablet {
    text-align: center;
  }
}

.strategies__descr {
  margin-top: 14px;
  @extend %text;
}

.strategies__tags {
  margin-top: 24px;
  @include media-tablet {
    justify-content: center;
  }
}

.strategy {
  max-width: 377px;
  margin-top: 30px;
  border-radius: 8px;
  @include media-tablet {
    flex-basis: 48%;
    overflow: hidden;
  }
  @include media-mobile {}
  flex-basis: 100%;
}

.strategy__title {
  @include font(24px, 34px, 700);
  color: $color-heading;
  padding: 24px 34px 29px 33px;
  @extend %transition;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.strategy__tags {
  padding: 0 0 26px 33px;
  @include media-tablet {
    padding: 0 0 26px 0;
  }
}

.strategy__wrapper {
  @include columns($width: 30%)
}


.strategy-wide {
  max-width: 787px;
}

@media (max-width: 1170px) {
  .strategy__wrapper {
    justify-content: space-around;

  }
  .strategy {
    overflow: initial;
  }
}

@media (max-width: 500px) {
  .strategy__title {
    font-size: 21px;
  }
}