.tools {
  padding-top: 110px;
}

.tools__title {
  text-align: center;
  max-width: 510px;
  margin: 0 auto 46px;
  @include font(34px, 46px, 700);
  padding: 0 10px;
}

.tools__inner {
  padding-bottom: 90px;
  background-image: url("../img/backgrounds/tools-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.tools__items {
  @include columns($width: 25%);
  padding: 8px 16px 0;
  margin-bottom: 60px;
}

.tools__item {
  width: 241px;
}

.tools__item-img {
  margin: 0 0 30px;
  display: block;

}

.tools__item-title {
  @include font(22px, 30px, 600);
  color: $color-heading;
  margin-bottom: 13px;
}

.tools__item-text {
  color: $color-text;
  @extend %text;
}

.tools__link {
  background-color: $color-primary;
  display: block;
  padding: 15px 32px 14px;
  border-radius: 4px;
  @include font(16px, 22px, 600);
  color: $color-light;
  width: 173px;
  margin: 0 auto;
  text-align: center;
  @extend %transition;
  @extend %hover-additional;
}

@media (max-width: 1170px) {
  .tools__items > *{
    flex-basis: unset;
  }
  .tools__items {
    justify-content: center;
  }
  .tools__item {
    margin-bottom: 30px;
    width: 50%;
    padding-right: 10px;
    text-align: center;
  }
  .tools__item-img {
    margin: 0 auto 20px;
  }
}

@media (max-width: 500px) {
  .tools {
    padding-top: 50px;
  }
  .tools__items {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .tools__item {
    width: 100%;
    padding-right: 0;
    margin: 0 auto 25px
  }
  .tools__item-img {
    margin: 0 auto 10px;
    display: block;
  }
  .tools__item-title, .tools__item-text {
    text-align: center;
    margin-bottom: 0;
  }
  .tools__item-title {
    font-size: 20px;
  }
  .tools__link {
    margin-top: 38px;
  }
}