.modal {
  display: none;
  position: absolute;
  max-width: 675px;
  min-height: 670px;
  background-color: $color-light;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.15);
  left: 50%;
  transform: translate(-50%);
}

.modal__close {
  position: absolute;
  right: 26px;
  top: 28px;
}

.modal__content {
  padding: 25px 34px 41px 41px;
}

.modal__date {
  @include font(13px, 26px, 400);
  color: $color-heading;
}

.modal__title {
  @include font(24px, 34px, 700);
  color: $color-heading;
  margin-top: 5px;
}

.modal__text {
  @include font(16px, 26px, 400);
  color: $color-heading;
  margin-bottom: 12px;
}